/* Write your CSS here */

.coverage-container {
  display: flex;
  flex-direction: column;

  padding-left: 30px;
}

.coverage-heading {
  font-family: 'Roboto';
  font-weight: bold;
  color: #6c757d;
  margin-bottom: 20px;
  font-size: 16px;
}
